
.abc {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    float: left;
    margin: auto;
    padding: 25px;
}


.btn1 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    background-color: #1e1a1a;
    color: #3ecbd4;
}

    .btn1 span {
        position: absolute;
        width: 0;
        height: 100%;
        background-color: #3ecbd4;
        top: 0%;
        right: -1%;
        transition-duration: 1s;
    }

    .btn1:hover span {
        right: 0%;
        width: 100%;
    }

    .btn1 b {
        position: absolute;
        font-style: normal;
        left: -10%;
        transition-duration: 1s;
        /*transition-delay: 0.3s;*/
        z-index: -1;
        text-align: center;
        top: 30%;
        color: #1e1a1a;
    }

    .btn1:hover b {
        left: 35%;
        transition: 1s;
        z-index: 1
    }

.btn2 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
}

    .btn2 span {
        position: absolute;
        width: 0;
        height: 100%;
        background-color: #3ecbd4;
        top: 0%;
        left: 0%;
        transition-duration: 1s;
    }

    .btn2:hover span {
        left: 0%;
        width: 100%;
    }

    .btn2 b {
        position: absolute;
        font-style: normal;
        right: -10%;
        color: #1e1a1a;
        transition-duration: 1s;
        /*transition-delay: 0.3s;*/
        z-index: -1;
    }

    .btn2:hover b {
        transition: 1s;
        right: 35%;
        z-index: 1
    }

.btn3 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
}

    .btn3 span {
        position: absolute;
        width: 100%;
        height: 0%;
        background-color: #3ecbd4;
        left: -0%;
        bottom: -1%;
        transition-duration: 1s;
        z-index: 1;
        color: #1e1a1a;
    }

    .btn3:hover span {
        bottom: 0%;
        height: 100%;
    }

    .btn3 b {
        position: absolute;
        font-style: normal;
        top: -20%;
        color: #1e1a1a;
        transition-duration: 1s;
        /*transition-delay: 0.3s;*/
        z-index: -1;
        left: 35%
    }

    .btn3:hover b {
        transition: 1s;
        top: 27%;
        left: 35%;
        z-index: 1
    }

.btn4 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
}

    .btn4 span {
        position: absolute;
        width: 100%;
        height: 0%;
        background-color: #3ecbd4;
        left: -0%;
        top: -1%;
        transition-duration: 1s;
        z-index: 1
    }

    .btn4:hover span {
        top: 0%;
        height: 100%;
    }

    .btn4 b {
        position: absolute;
        font-style: normal;
        bottom: -20%;
        transition-duration: 1s;
        /*transition-delay: 0.3s;*/
        z-index: -1;
        color: #1e1a1a;
        left: 35%
    }

    .btn4:hover b {
        transition: 1s;
        bottom: 27%;
        left: 35%;
        z-index: 1
    }

.btn5 {
    height: 45px;
    width: 60%;
    border: 1px solid #3ecbd4;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    background-color: #1e1a1a;
    color: #3ecbd4;
    transition-duration: 1s;
}

    .btn5:hover {
        border-radius: 10px;
        border: 4px solid #3ecbd4;
    }

        .btn5:hover b {
            color: white;
            transition-duration: 1s
        }

.btn6 {
    height: 45px;
    width: 60%;
    border: 1px solid #3ecbd4;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    background-color: #1e1a1a;
    color: #3ecbd4;
    transition-duration: 1s;
}

    .btn6:hover {
        border-radius: 10px;
        box-shadow: 0 0 20px #3ecbd4;
    }

        .btn6:hover b {
            color: white;
            transition-duration: 1s
        }

.btn7 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    z-index: 1;
    background-color: #1e1a1a;
    color: #3ecbd4;
}

    .btn7 span {
        position: absolute;
        width: 0%;
        height: 0%;
        background-color: #3ecbd433;
        left: 100%;
        bottom: 100%;
        transition-duration: 1s;
        z-index: -1;
    }

    .btn7:hover span {
        bottom: 100%;
        left: 0%;
        bottom: 0%;
        width: 100%;
        z-index: -1;
        height: 100%;
        /*width: 0%*/
        color: #1e1a1a;
    }

    .btn7:hover b {
        color: white;
        transition-duration: 1s
    }
/*.btn7 b {
        position: absolute;
        font-style: normal;
        bottom: -20%;
        transition-duration: 1s;
        transition-delay: 0.3s;
        z-index: -1;
        left: 35%
    }

    .btn7:hover b {
        transition: 1s;
        bottom: 27%;
        left: 35%;
        z-index: 1
    }*/
.btn8 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    background-color: #1e1a1a;
    color: #3ecbd4;
    z-index: 1
}

    .btn8 span {
        position: absolute;
        width: 0%;
        height: 0%;
        background-color: #3ecbd433;
        right: 100%;
        top: 100%;
        transition-duration: 1s;
        z-index: -1
    }

    .btn8:hover span {
        top: 0%;
        right: 0%;
        height: 100%;
        width: 100%;
        z-index: -1
    }

    .btn8:hover b {
        color: white;
        transition-duration: 1s
    }

.btn9 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn9 span {
        position: absolute;
        width: 0%;
        height: 0%;
        background-color: #3ecbd433;
        left: 100%;
        top: 100%;
        transition-duration: 1s;
        z-index: -1
    }

    .btn9:hover span {
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        z-index: -1
    }

    .btn9:hover b {
        color: white;
        transition-duration: 1s
    }

.btn10 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn10 span {
        position: absolute;
        width: 0%;
        height: 0%;
        background-color: #3ecbd433;
        left: 100%;
        bottom: 100%;
        transition-duration: 1s;
        z-index: -1
    }

    .btn10:hover span {
        bottom: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        z-index: -1
    }

    .btn10:hover b {
        color: white;
        transition-duration: 1s
    }

.btn11 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn11 .spn1 {
        height: 100%;
        width: 50%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        right: 100%;
        top: 0%
    }

    .btn11 .spn2 {
        height: 100%;
        width: 50%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        left: 100%;
        top: 0%
    }

    .btn11:hover .spn1 {
        height: 100%;
        width: 50%;
        top: 0%;
        right: 0%
    }

    .btn11:hover .spn2 {
        height: 100%;
        width: 50%;
        top: 0%;
        left: 0%
    }

.btn12 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn12 .spn3 {
        height: 100%;
        width: 50%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        bottom: 100%;
        right: 0%
    }

    .btn12 .spn4 {
        height: 100%;
        width: 50%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        top: 100%;
        left: 0%
    }

    .btn12:hover .spn3 {
        height: 100%;
        width: 50%;
        bottom: 0%;
        right: 0%
    }

    .btn12:hover .spn4 {
        height: 100%;
        width: 50%;
        top: 0%;
        left: 0%
    }

.btn13 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn13 .spn5 {
        height: 100%;
        width: 50%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        left: 100%;
        top: 0%
    }

    .btn13 .spn6 {
        height: 100%;
        width: 50%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        bottom: 0%;
        right: 100%
    }

    .btn13:hover .spn5 {
        height: 100%;
        width: 50%;
        top: 0%;
        left: 50%;
    }

    .btn13:hover .spn6 {
        height: 100%;
        width: 50%;
        top: 0%;
        right: 50%
    }

.btn14 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn14 .spn7 {
        height: 50%;
        width: 100%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        left: 100%;
        top: 0%
    }

    .btn14 .spn8 {
        height: 50%;
        width: 100%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        bottom: 0%;
        right: 100%
    }

    .btn14:hover .spn7 {
        height: 50%;
        width: 100%;
        top: 0%;
        left: 50%;
    }

    .btn14:hover .spn8 {
        height: 50%;
        width: 100%;
        bottom: 0%;
        right: 50%
    }

    .btn14 .spn25 {
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: black;
        position: absolute;
        transition-duration: 1s;
        left: 100%;
        top: 0%
    }

    .btn14 .spn26 {
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: blue;
        position: absolute;
        transition-duration: 1s;
        bottom: 0%;
        right: 100%
    }

    .btn14:hover .spn25 {
        height: 100%;
        width: 100%;
        top: 0%;
        left: 50%;
    }

    .btn14:hover .spn26 {
        height: 100%;
        width: 100%;
        bottom: 0%;
        right: 50%
    }

    .btn14:hover b {
        color: white;
    }

.btn15 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn15 .spn9 {
        height: 0%;
        width: 0%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        left: 0%;
        top: 0%
    }

    .btn15 .spn10 {
        height: 0%;
        width: 0%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        bottom: 0%;
        left: 100%;
    }

    .btn15:hover .spn9 {
        height: 50%;
        width: 100%;
        top: 50%;
        left: 0%;
        z-index: -1
    }

    .btn15:hover .spn10 {
        height: 50%;
        width: 100%;
        bottom: 50%;
        left: 0%;
        z-index: -1
    }

    .btn15:hover b {
        color: white;
    }

.btn16 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn16 .spn11 {
        height: 0%;
        width: 100%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        left: 0%;
        top: -55%
    }

    .btn16 .spn12 {
        height: 0%;
        width: 100%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        bottom: -55%;
        left: 0%;
    }

    .btn16:hover .spn11 {
        height: 50%;
        width: 100%;
        top: 0%;
        left: 0%;
    }

    .btn16:hover .spn12 {
        height: 50%;
        width: 100%;
        bottom: 0%;
        right: 0%
    }

    .btn16:hover b {
        color: white;
        transition-duration: 1s
    }

.btn17 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn17 .spn13 {
        height: 50%;
        width: 100%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        left: 100%;
        top: 0%
    }

    .btn17 .spn14 {
        height: 50%;
        width: 100%;
        z-index: -1;
        background-color: #3ecbd433;
        position: absolute;
        transition-duration: 1s;
        bottom: 0%;
        right: 100%
    }

    .btn17:hover .spn13 {
        height: 50%;
        width: 100%;
        top: 0%;
        left: 0%;
    }

    .btn17:hover .spn14 {
        height: 50%;
        width: 100%;
        bottom: 0%;
        right: 0%
    }

    .btn17:hover b {
        color: white;
    }

.btn18 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn18 .spn15 {
        height: 10%;
        width: 100%;
        z-index: -1;
        background-color: #3ecbd4;
        position: absolute;
        transition-duration: 1s;
        left: 100%;
        top: 0%
    }

    .btn18 .spn16 {
        height: 10%;
        width: 100%;
        z-index: -1;
        background-color: #3ecbd4;
        position: absolute;
        transition-duration: 1s;
        bottom: 0%;
        right: 100%
    }

    .btn18:hover .spn15 {
        height: 10%;
        width: 100%;
        top: 0%;
        left: 0%;
    }

    .btn18:hover .spn16 {
        height: 10%;
        width: 100%;
        bottom: 0%;
        right: 0%
    }

.btn19 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn19 .spn17 {
        height: 100%;
        width: 3%;
        z-index: -1;
        background-color: #3ecbd4;
        position: absolute;
        transition-duration: 1s;
        left: 0%;
        top: 100%
    }

    .btn19 .spn18 {
        height: 100%;
        width: 3%;
        z-index: -1;
        background-color: #3ecbd4;
        position: absolute;
        transition-duration: 1s;
        bottom: 100%;
        right: 0%
    }

    .btn19:hover .spn17 {
        height: 100%;
        width: 3%;
        top: 0%;
        left: 0%;
    }

    .btn19:hover .spn18 {
        height: 100%;
        width: 3%;
        bottom: 0%;
        right: 0%
    }

    .btn19 .spn19 {
        height: 10%;
        width: 100%;
        z-index: -1;
        background-color: #3ecbd4;
        position: absolute;
        transition-duration: 1s;
        left: 100%;
        top: 0%
    }

    .btn19 .spn20 {
        height: 10%;
        width: 100%;
        z-index: -1;
        background-color: #3ecbd4;
        position: absolute;
        transition-duration: 1s;
        bottom: 0%;
        right: 100%
    }

    .btn19:hover .spn19 {
        height: 10%;
        width: 100%;
        top: 0%;
        left: 0%;
    }

    .btn19:hover .spn20 {
        height: 10%;
        width: 100%;
        bottom: 0%;
        right: 0%
    }

    .btn19:hover b {
        color: white;
    }

.btn20 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    overflow: hidden;
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: #1e1a1a;
    z-index: 1
}

    .btn20 .spn21 {
        height: 100%;
        width: 4%;
        z-index: -1;
        background-color: #3ecbd4;
        position: absolute;
        transition-duration: 1s;
        left: 0%;
        top: 100%
    }

    .btn20 .spn22 {
        height: 100%;
        width: 4%;
        z-index: -1;
        background-color: #3ecbd4;
        position: absolute;
        transition-duration: 1s;
        bottom: 100%;
        right: 0%
    }

    .btn20:hover .spn21 {
        height: 100%;
        width: 4%;
        top: 0%;
        left: 0%;
    }

    .btn20:hover .spn22 {
        height: 100%;
        width: 4%;
        bottom: 0%;
        right: 0%
    }

    .btn20:hover b {
        color: white;
    }

.btn21 {
    height: 45px;
    width: 60%;
    border: 0px solid transparent;
    /*overflow: hidden;*/
    position: relative;
    top: 35%;
    right: -20%;
    color: #3ecbd4;
    background-color: white;
    z-index: +1;
}

    .btn21 .spn23 {
        height: 100%;
        position: absolute;
        width: 30%;
        border: 0px solid transparent;
        border-radius: 200%;
        background-color: #1e1a1a;
        z-index: -1;
        left: 0;
        top: 0;
    }

    .btn21:hover spn23 {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        z-index: -1;
        right: 0
    }
