#area
{
    background-color: skyblue;
    position: absolute;
    height: 765px;
    width: 100%;
    opacity: 1;
    transition-property: opacity;
    transition-delay: 1s;
    transition-duration: 3s;
}
#sun
{
    position: absolute;
    top: 70px;
    left: 45%;
    transition-property: top;
    transition-duration: 4s;
    opacity: 90%;
}
#clouds
{
    z-index: 10;
    position: absolute;
    top: 250px;
}
#birds
{
    position: absolute;
    width: 100%;
    top: 200px;
}
.button #day, #night
{
    position: absolute;
    z-index: 10;
    width: 49%;
    height: 60px;
    color: thistle;
    font-weight: bolder;
    background-color: teal;
    border-color: rgb(00, 90, 90);
    border-width: 6px;
    font-size: larger;
    opacity: 65%;
}
#day
{
    left: 4px;
}
#night
{
    right: 4px;
}
#darkarea
{
    background-image: url("Nightsky.jpg");
    /*z-index: 0;*/
    opacity: 0;
    background-repeat: no-repeat;
    height: 768px;
    width: 100.5%;
    background-size: 100% 100%;
    transition-property: opacity;
    transition-delay: 1s;
    transition-duration: 3s;
    position: absolute;
    top:0;
    left: 0;
    
}
#moon
{
    position: absolute;
    top: -300px;
    right: 150px;
    transition-property: top;
    transition-duration: 4s;
}